@font-face {
  font-family: 'Pokemon';
  src: local('Pokemon'), url(./fonts/Pokemon.ttf) format('truetype');
}

@font-face {
  font-family: 'Nokia';
  src: local('Nokia'), url(./fonts/Nokia.ttf) format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto;
  background: #fefafa;
  text-align: center;
}
